.formulario{
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(red, green, blue, alpha);
    border-radius: 8px 8px 8px 8px ;
    overflow: hidden;
    height: 380px;
}
#col-title{
    background-color: skyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
}
#Separador{
    border-radius: 8px 8px 8px 8px ;
}

.btn{
    background-color: sienna;
    border-radius: 5px;
    border-style: blure;
    border-bottom-color: saddlebrown;
    border-right-color: saddlebrown;
    border-top: none;
    border-left: none;
    
    
}

/*
.form-check {
    margin-left:10px;
}
*/
.btn-block{
    margin-top: 25px;
    margin-bottom: 25px;
}